# These are some nice easy wins to reduce the size of the kernel and the modules built
CONFIG_6LOWPAN=n
CONFIG_IEEE802154=n
CONFIG_HAMRADIO=n
CONFIG_CAN=n
CONFIG_BT=n
CONFIG_WLAN=n
CONFIG_WIRELESS=n
CONFIG_PCI=n
CONFIG_SCSI=n
CONFIG_ATA=n
CONFIG_USB_SUPPORT=n