[Unit]
Description=Start Pi-Hole service

Wants=pihole-FTL.service
After=pihole-FTL.service


[Service]
Type=oneshot
WorkingDirectory=/home/admin
ExecStart=/opt/pihole/start-pihole.sh

[Install]
WantedBy=multi-user.target 